@charset "utf-8";
/* CSS Document */

.arrow_body a {color: #fff;}
.tabbable h4 {margin-top: 20px;}
.tab-pane {margin-bottom: 20px;}
table.singapore p {line-height: normal;}
blockquote.longquote p {margin-bottom: 20px;}
.numberedsection p {margin-bottom: 5px;}

@media print {
   .nav-tabs, .topnav {display: none; }
   .soundcloud {display:none;}
   #tab1, #tab2, #tab3 {display: block;}
}
@media (max-width: 480px) {
	#southeastasia, #branchcampus {width: 100%;}
}
