.contact-card {
  margin-top: 40px;
}

.emailBtn,
.calendlyBtn,
.linkedinBtn {
  display: flex;
  justify-content: center;
}

.emailBtn {
  grid-column: 1 / 2;
}

.calendlyBtn {
  grid-column: 2 / 3;
}

.linkedinBtn {
  grid-column: 3 / 4;
}

.contactSubheader {
  margin-bottom: 0px;
}
