:root {
  --drop-shadow: rgba(53, 59, 72, 0.2);
  --drop-shadow-hover: rgba(53, 59, 72, 0.5);
  --border-color: rgba(47, 54, 64, 0.3);
}

.homeContainer {
  display: grid;
  grid-template-columns: auto 960px auto;
  grid-template-rows: 1fr 2fr 1fr;
}

.homeContent {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  height: 48vh;
  background-color: white;
  border: 1px solid var(--border-color);
  filter: drop-shadow(0px 2px 2px var(--drop-shadow));
  border-radius: 4px;
  padding: 0px 50px 0px 50px;
}

.homeContent h1 {
  margin-bottom: 12px;
}

.businessCard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  grid-gap: 24px;
}

.pic {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  justify-items: center;
  align-items: center;
}

.photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  filter: drop-shadow(0px 4px 2px var(--drop-shadow-hover));
}

.intro {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-items: center !important;
  margin: auto 0;
}

.contacts {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  justify-items: center;
  align-items: center;
}

.resume {
  grid-column: 2 / 3;
}

.emailAddress {
  grid-column: 3 / 4;
}

.phone {
  grid-column: 4 / 5;
}

.location {
  grid-column: 5 / 6;
}

.linkedInLink {
  grid-column: 6 / 7;
}

.ghLink {
  grid-row: 1 / 2;
  grid-column: 7 / 8;
}

.contactIcon {
  max-width: 35px;
  max-height: 35px;
}

.phoneSize {
  max-width: 25px;
  max-height: 25px;
}
