.monogram {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.home {
  grid-row: 3 / 4;
}

.projects {
  grid-row: 4 / 5;
}

.skills {
  grid-row: 5 / 6;
}

.contact {
  grid-row: 6 / 7;
}

.monogram,
.home,
.skills,
.projects,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--navbar-font);
}

@media screen and (max-width: 650px) {
  .navbar {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr;
  }
  .monogram {
    grid-column: 1 / 2;
  }

  .home {
    grid-column: 2 / 3;
    grid-row: span 1;
  }

  .skills {
    grid-column: 3 / 4;
    grid-row: span 1;
  }

  .projects {
    grid-column: 4 / 5;
    grid-row: span 1;
  }

  .contact {
    grid-column: 5 / 6;
    grid-row: span 1;
  }
}
