.skills-table {
  margin-top: 40px;
}

.skill-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
}

.skill-card {
  margin: 0;
}

.tab-panel {
  margin: 16px;
}
